div#feedback , div#editProfile {
display:none;
position:fixed;
top:100px;
left:35%;
background:#f0f0f0;
background:-webkit-gradient(linear, left top, left bottom, from(#efefef), to(#f9f9f9));
background:-moz-linear-gradient(center top , #efefef 0%, #F1F2F2 33.3333%, #f9f9f9 100%) repeat scroll 0 0 transparent;
color:#555555;
width : 400px;
height : 275px;
border : 1px solid #80afdf;
padding : 10px;
box-shadow: 0 0 5px 3px #000910;
box-shadow: 0 0 5px 2px #999999 inset;
z-index:51;
}

div#feedback form.feedbackForm {
border:0px solid #80afdf;
position:relative;
top:-20px;
}

span.fbTitle {
font-family: 'Pacifico', arial, serif;
font-size:20px;
background:transparent;
color:#6480a5;
}

span#cross {
position:absolute;
top:10px;
right:10px;
font-family:Arial;
cursor: url(../pics/pointer.png) 0 0, auto;
z-index: 100;
}

div#blueLine {
height:40px;
width:100%;
margin:10px 0px;
background:transparent;
border-bottom:1px solid #b5d2f0;
border-top:1px dotted #d1d1d1;
}

ul.links li {
z-index:55;
position:relative;
top:-45px;
display:inline-block;
height:20px;
padding:2px 3px;
margin:-10px 1px 1px 1px;
border-radius:4px;
background:#ececec;
background: -webkit-gradient(linear, 0% 0, 0% 100%, from(white), to(#E1E1E1));
background: -moz-linear-gradient(top,white,#E1E1E1);
color:#233451;
cursor:pointer;
}

.links li:hover {
color:#ffffff;
background:#438BB1;
border-radius:4px;
}

.links li.hilite {
color:#ffffff;
background:#438BB1;
border-radius:4px;
}

.content div.panel {
padding-top:10px;
z-index:52;
position:relative;
top:-60px;
display:none;
width:400px;
height:100px;
}

form.feedbackForm input , form.feedbackForm textarea {
border:1px solid #3a75af;
font-size:14px;
background:transparent;
height:16px;
width:390px;
padding:3px;
margin:5px 0px;
border-radius:5px;
color:#555555;
}

form.feedbackForm textarea {
height:100px;
}

#feedbackFormSubmitButton {
border:0px;
background:transparent;
float:right;
}

span#feedbackFormSubmit,span#feedbackFormSubmitProfile,span#feedbackFormSubmitPasswd {
display:inline-block;
height:20px;
padding:2px 3px;
margin:-5px 1px 1px 1px;
border-radius:1px;
color:#ffffff;
background:#348dd3;
border-radius:5px;
}
