div#profileBox {
font-size:20px;
width:100%;
height:200px;
background:#f0f0f0;
background:-webkit-gradient(linear, left top, left bottom, from(#efefef), to(#f9f9f9));
background:-moz-linear-gradient(center top , #efefef 0%, #F1F2F2 33.3333%, #f9f9f9 100%) repeat scroll 0 0 transparent;
color:#555555;
border : 1px solid #80afdf;
-webkit-box-shadow: 0 0 5px 3px #000910;
-webkit-box-shadow: 0 0 5px 2px #999999 inset;
box-shadow: 0 0 5px 3px #000910;
box-shadow: 0 0 5px 2px #999999 inset;
padding:5px;
margin-bottom: 20px;
}

div#snapShot {
display:inline-block;
position:relative;
left:-50px;
top:-5px;
background:#f9f9f9;
color:#555555;
-webkit-box-shadow: 0 0 5px 3px #5b5b5b;
box-shadow: 0 0 5px 3px #5b5b5b;
margin:5px;
height:150px;
width:150px;
padding:5px 5px 25px 5px;
-webkit-transform:rotate(-5deg); /* I hate this part :( Ugly browsers. */
-moz-transform:rotate(-5deg);
-o-transform:rotate(-5deg);
}

div#snapShot img {
width:150px;
height:135px;
}

div#picUname {
font-family:'Pacifico';
font-size:20px;
text-align:center;
}

div#profileInfo {
display: block;
padding:10px;
height: 160px;
left: 210px;
position: relative;
top: -180px;
width: 680px;
}

img#editProfileButton {
position:relative;
left:890px;
top:-150px;
cursor: url('../pics/pointer.png') , auto;
padding:5px;
z-index:5;
}
