/*
	The main CSS for Paathshaala
	Author : Jaseem Abid <jaseemabid@gmail.com>
*/

/* Custom font embedding */
@font-face {
font-family: 'Droid Sans';
font-style: normal;
font-weight: normal;
src: local('Droid Sans'), local('DroidSans'), url('../fonts/DroidSans.woff') format('woff');
}

@font-face {
font-family: 'Pacifico';
font-style: normal;
font-weight: normal;
src: local('Pacifico Regular'), local('Pacifico-Regular'), url('../fonts/Pacifico.woff') format('woff');
}

.droidSans {
font-family: 'Droid Sans';
}

.pacifico {
font-family: 'Pacifico';
}

/* Templates and color schemes */

@blue : #3A75AF;

/* Cursors */

.ptr {
	cursor: url(../pics/pointer.png) 0 0, auto;
}


/* Change selected text color */
::-moz-selection {
color:white;
background:@blue ;
}
::selection {
color:white;
background:@blue ;
}


/* HTML5 good practice */
header, footer, section, aside, nav, article {
display: block;
}

/* A general class to restrict stuff into a div */

.fitin {
width:100%;
height:100%;
}

.restrict {
max-width:100%;
max-height:100%;
}

img#loading {
position:fixed;
top:300px;
left:45%;
z-index:1000;
}

html {
font-size: 100.01%;
min-height: 100%;
margin: 0;
}

body {
.droidSans;
background:#F9F9F9;
margin: 0;
cursor: url(../pics/arrow.png) 0 0, auto;
color: #555555;
line-height: 1.4;
}

a {
color: #555555;
text-decoration:none;
border:0px;
.ptr;
}

a:hover {
text-decoration: underline;
}

div.dropDown a:hover {
text-decoration: none;
}


#container{
margin:0 auto -30px; /* -30px is needed because #bottom is moved down relatively and it adds a gap */
width: 920px;
min-height:600px;
padding: 0px;
}

/* TOP BAR */

#topbar {
background: none repeat scroll 0 0 #EFEFEF;
border-bottom: 1px solid #D4D4D4;
border-top: 1px solid #FFFFFF;
box-shadow: 0 0 10px rgba(212, 212, 212, 0.9);
height: 32px;
position: absolute;
width: 100%;
margin: 0;
}

#top {
height: 100px; /* min logo size */
position: relative;
}

#top #logo{
border-color: #D2D2D2;
background:#f5f5f5;
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
background: -moz-linear-gradient(top,#ffffff,#efefef);
border-right: 1px solid #DDDDDD;
border-style: none solid solid;
border-width: 0 1px 1px;
float: left;
padding: 5px 12px 10px;
position: relative;
}

#top #logo:hover {
background:#f7f7f7;
text-decoration: none;
}

#top #logo h1 {
background: url("../pics/paathshaala.png") no-repeat scroll center bottom transparent;
border-color: #D2D2D2;
margin: 7px 0 0;
height: 60px;
width: 183px;
}

#top #logo h1:hover {
background: url("../pics/paathshaala_black.png") no-repeat scroll center bottom transparent;
}

#top .topbarLeft {
left: 220px;
position: absolute;
top: 3px;
}

ul.userBar, ul.topbarLeft {
float: right;
margin: 0;
padding: 0;
white-space: nowrap;
}

ul.userBar li, ul.topbarLeft li {
display: inline;
list-style-type: none;
margin-left: 3px;
margin-right: 3px;
}

ul.userBar li {
position:relative;
top:5px;
}

.userBar a, .topbarLeft a, .userBar button, .topbarLeft button {
color: #777777;
font-size: 14px;
font-weight: bold;
text-shadow: 0 1px 0 #FFFFFF;
}

.userBar a:hover, .topbarLeft a:hover, .userBar button:hover, .topbarLeft button:hover {
color: #555555;
text-decoration: none;
}

.userBar li:first-child, .topbarLeft li:first-child {
margin-left: 0;
}

.user-bar li:last-child, .topbarLeft li:last-child {
margin-right: 0;
}

/* BOTTOM BAR */

#bottombar {
background: none repeat scroll 0 0 #EFEFEF;
border-top: 1px solid #D4D4D4;
height: 40px;
width: 100%;
margin: 0;
z-index:-2;
}

#bottom {
margin: 0 auto;
width: 920px;
height:100px;
padding: 0px;
position:relative;
top:40px; /* Height of bottom bar */
}

#bottom #logo{
border-color: #D2D2D2;
background:#f5f5f5;
background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#ffffff));
background: -moz-linear-gradient(top,#efefef,#ffffff);
border: 1px #D2D2D2 solid;
float: right;
padding: 4px 12px 10px;
position: relative;
}

#bottom #logo:hover {
background:#f7f7f7;
text-decoration: none;
}

#bottom #logo h1 {
background: url("../pics/tuw60.png") no-repeat scroll center bottom transparent;
border-color: #D2D2D2;
margin: 7px 0 0;
height: 80px;
width: 183px;
}

/* BOTTOM BAR links */
.bottomLinks li {
position:relative;
display: inline;
list-style-type: none;
margin:0px 1px;
left:-10px;
top:70px;

}

.bottomLinks a {
color: #777777;
font-size: 13px;
font-weight: bold;
text-shadow: 0 1px 0 #FFFFFF;
}

.bottomLinks a:hover {
color: #555555;
text-decoration: none;
}

.bottomLinks li:first-child {
margin-left: 0;
}

.bottomLinks li:last-child {
margin-right: 0;
}

/* Search button & bar */
button.searchButton , button.tickButton{
background:transparent;
border:0px solid #c2e1ef;
color: #555555;
position:absolute;
left:0px;
top:4px;
.ptr;
}

input.searchBox {
font-size:16px;
background: #fefefe;
width: 270px;
border: 1px #D2D2D2 solid;
padding-left:30px;
border-radius: 13px 13px 13px 13px;
height:25px;
cursor: url(../pics/text.png) 0 0, auto;
}

button.tickButton{
background:transparent;
position:relative;
top:2px;
border:0px solid #c2e1ef;
color: #555555;
.ptr;
float:right;
}

/* Login form */
form.login , form.join , .dashBoard {
display:none;
position:absolute;
top:34px;
right:0px;
width:235px;
height:90px;
z-index:12;
border-color: #D2D2D2;
background:#f5f5f5;
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
background: -moz-linear-gradient(top,#ffffff,#efefef);
border-right: 1px solid #DDDDDD;
border-style: none solid solid;
border-width: 0 1px 1px;
padding: 10px 10px 10px 10px;
box-shadow:5px 4px 5px rgba(2, 2, 2, 0.5);
border-radius:0px 0px 5px 5px;
}

form.login input, form.join input {
-moz-transition: all 0.3s ease-in-out 0s;
font-size:16px;
background: #fefefe;
width: 200px;
border: 1px #D2D2D2 solid;
padding-left:10px;
border-radius: 13px 13px 13px 13px;
height:25px;
padding-left:10px;
margin-bottom:2px;
outline: medium none;
text-shadow: 0 1px 0 #FFFFFF;
}

form.login input.error , form.join input.error {
border: 1px solid #ff8c8c;
box-shadow: 0 0 5px #ff8c8c;
}

form.login input.valid , form.join input.valid {
border: 1px solid #609a3b;
box-shadow: 0 0 5px #609a3b;
}

form.join {
height: 255px;
width: 260px;
}

form.join div.joinMessage{
text-align:center;
font-size:14px;
margin:0 0 5px 0;
padding:5px;
border:1px solid #cccccc;
border-radius:15px;
}

form.join div.error {
border-color:#d02323;
}

span.check {
display:none;
.ptr;
}

button#joinButton, button#loginButton {
background: -moz-linear-gradient(center top , #F0F0EA, #D5D7CE) repeat scroll 0 0 transparent;
color: #333333;
text-shadow: 0 1px 0 #FFFFFF;
border: 1px solid #BBBBBB;
border-radius: 4px 4px 4px 4px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
display: inline-block;
font-size: 12px;
outline: medium none;
padding: 3px 10px 4px;
text-align: center;
text-decoration: none;
position:relative;
top:5px;
left:200px;
.ptr;
}

button#loginButton {
left:175px;
}

button#joinButton:hover, button#loginButton:hover {
background: -moz-linear-gradient(center top ,#D5D7CE,  #F0F0EA) repeat scroll 0 0 transparent;
color: #555555;
}

.dashBoard {
width:135px;
height:60px;
z-index:1200;
.ptr;
}

.dashBoard a {
text-decoration:none;
}



/* Coloumn Structure */
/*-------------------------- */
.mainLeft, /* Wide normal left coloumn , like the one in faq */
.mainRight /* Normal side bar in the right side */ { 
display:table-cell;
padding:0px;
}

.mainLeft {
width:570px;
margin-right:10px;
}

.mainRight {
width:330px;
margin:0px;
}

/* General styling */

.q {
color:@blue;
font-size: 16px;
}

.ans {
color:#737373;
font-size: 14px;
}

img.feedbackDock {
position:fixed;
left:-2px;
top:30%;
cursor: url(../pics/arrow.png) 0 0, auto;
}

img.feedbackDock:hover {
margin-left:2px;
}

#indexMesssage {
background: none repeat scroll 0 0 #EFEFEF;
border: 1px solid #D4D4D4;
border-radius: 5px 5px 5px 5px;
box-shadow: 0 0 10px rgba(212, 212, 212, 0.898);
color: #464646;
font-size: 16px;
height: 20px;
left: 215px;
margin: 0;
padding: 10px;
position: relative;
width: 685px;
}

/* Popup stuff */
div#feedback, div#editProfile {
display:none;
position:fixed;
top:100px;
left:35%;
width : 400px;
height : 275px;
z-index:100;
border-color: #D2D2D2;
background:#f5f5f5;
border-right: 1px solid #DDDDDD;
border-style: none solid solid;
border-width:1px;
padding: 10px 10px 10px 10px;
box-shadow:5px 4px 5px rgba(2, 2, 2, 0.5);
border-radius:5px;
}

div#feedback form.feedbackForm {
border:0px solid #80afdf;
position:relative;
top:-20px;
}

span.fbTitle {
font-family: 'Pacifico', arial, serif;
font-size:20px;
background:transparent;
color:#6480a5;
}

span#cross {
position:absolute;
top:10px;
right:10px;
font-family:Arial;
.ptr;
z-index: 10;
}

div#blueLine {
height:40px;
width:100%;
margin:10px 0px;
background:transparent;
border-bottom:1px solid #b5d2f0;
border-top:1px dotted #d1d1d1;
}

ul.links li {
z-index:55;
position:relative;
top:-45px;
display:inline-block;
background: -moz-linear-gradient(center top , #F0F0EA, #D5D7CE) repeat scroll 0 0 transparent;
color: #333333;
text-shadow: 0 1px 0 #FFFFFF;
border: 1px solid #BBBBBB;
border-radius: 4px 4px 4px 4px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
display: inline-block;
outline: medium none;
text-align: center;
text-decoration: none;
.ptr;
height:20px;
padding:2px 3px;
margin:-10px 1px 1px 1px;
}

.links li:hover {
background: #fefefe;
border-radius:4px;
}

.links li.hilite {
background: #fefefe;
border-radius:4px;
}

.content div.panel {
padding-top:10px;
z-index:52;
position:relative;
top:-60px;
display:none;
width:400px;
height:100px;
}

form.feedbackForm input , form.feedbackForm textarea {
-moz-transition: all 0.3s ease-in-out 0s;
font-size:14px;
color: #555555;
background: #efefef;
width:390px;
border: 1px #D2D2D2 solid;
padding-left:10px;
border-radius: 5px;
height:25px;
padding-left:10px;
margin-bottom:2px;
outline: medium none;
text-shadow: 0 1px 0 #FFFFFF;
}

form.feedbackForm textarea {
height:100px;
}

.grayButton {
background: -moz-linear-gradient(center top , #F0F0EA, #D5D7CE) repeat scroll 0 0 transparent;
color: #333333;
text-shadow: 0 1px 0 #FFFFFF;
border: 1px solid #BBBBBB;
border-radius: 4px 4px 4px 4px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
display: inline-block;
font-size: 12px;
outline: medium none;
padding: 3px 10px 4px;
text-align: center;
text-decoration: none;
.ptr;
position:relative;
top:10px;
float:right;
}

.grayButton:hover {
background: -moz-linear-gradient(center top ,#D5D7CE,  #F0F0EA) repeat scroll 0 0 transparent;
color: #555555;
}
